<!-- LOGO -->
<div class="navbar-brand-box">
    <!-- Dark Logo-->
    <a href="index.html" class="logo logo-dark">
        <span class="logo-sm">
            <img src="~/images/logo-sm.png" alt="" height="22">
        </span>
        <span class="logo-lg">
            <img src="~/images/logo-dark.png" alt="" height="17">
        </span>
    </a>

    <!-- Light Logo-->
    <a asp-controller="Home" asp-action="Index" class="logo logo-light">
        <span class="logo-sm">
            <img src="~/images/logo-sm.png" alt="" height="22">
        </span>
        <span class="logo-lg">
            <img src="~/images/logo-light.png" alt="" height="17">
        </span>
    </a>

    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
        <i class="ri-record-circle-line"></i>
    </button>
</div>


<div id="scrollbar">

    <!-- Sidebar Start -->
    <div class="container-fluid">

        <div id="two-column-menu">
        </div>

        <ul class="navbar-nav" id="navbar-nav">
            <li class="menu-title"><span data-key="t-menu">Menu</span></li>

            <!--Dashboard-->
            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                    <i data-feather="home" class="icon-dual"></i> <span data-key="t-dashboards">Dashboards</span>
                </a>
            </li>


            <!-- System Data Start -->
            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarSystemData" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarApps">
                    <i data-feather="grid" class="icon-dual"></i> <span data-key="t-apps">System Data</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarSystemData">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a asp-controller="Department" asp-action="Index" class="nav-link" data-key="t-calendar"> Department </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link" data-key="t-calendar">Designation</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="BloodGroup" asp-action="Index" class="nav-link" data-key="t-calendar">Blood Group</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link" data-key="t-calendar">Room Setup</a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- System Data End -->


            <!-- Doctor Start -->
            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarDoctor" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarApps">
                    <i data-feather="grid" class="icon-dual"></i> <span data-key="t-apps">Doctor</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarDoctor">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a asp-controller="Doctor" asp-action="AddDoctor" class="nav-link" data-key="t-calendar"> Add New Doctor </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Doctor" asp-action="Index" class="nav-link" data-key="t-calendar">Doctor List</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link" data-key="t-calendar">Time Setup</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link" data-key="t-calendar">Doctor Profile</a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- Doctor End -->


            <!-- Patient Start -->
            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarPatients" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarApps">
                    <i data-feather="grid" class="icon-dual"></i> <span data-key="t-apps">Patient</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarPatients">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link" data-key="t-calendar"> Register Patient </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link" data-key="t-calendar">Patient List</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link" data-key="t-calendar">Patient Profile</a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- Patient End -->
        </ul>
    </div>
    <!-- Sidebar -->
</div>

<div class="sidebar-background"></div>