<div class="tab-pane fade show active" id="steparrow-description-info" role="tabpanel" aria-labelledby="steparrow-description-info-tab">
    <div>
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label" for="steparrow-gen-info-email-input">Database Name</label>
                    <input type="text" class="form-control" required>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label" for="steparrow-gen-info-email-input">Database Username</label>
                    <input type="text" class="form-control" required>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label" for="steparrow-gen-info-email-input">Database Password</label>
                    <input type="text" class="form-control" required>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Primary Alert -->
            <div class="alert alert-primary alert-border-left alert-dismissible fade show" role="alert">
                <i class="ri-user-smile-line me-3 align-middle"></i> <strong>Instruction</strong> - If you want to create a
                new Database with full data then click on CopyWithData. Or if you want to create Database only selected module's table
                then click on CopyModuleData. Or if you want to copy only selected table's data then check on table.
            </div>
        </div>

        <div class="row">
            <span class="badge badge-gradient-dark">Data Configuration & Setup</span>
        </div>

        <div class="col-md-12 mt-3 mb-3" id="card-none3">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <h6 class="card-title mb-0">System Data Module <input class="form-check-input" type="checkbox" id="formCheck8" checked></h6>

                        </div>
                        <div class="flex-shrink-0">
                            <ul class="list-inline card-toolbar-menu d-flex align-items-center mb-0">
                                <li class="list-inline-item">
                                    <a class="align-middle" href="javascript:void(0);" data-toggle="customer-loader">
                                        <i class="mdi mdi-refresh align-middle"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="align-middle minimize-card" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample2">
                                        <i class="mdi mdi-plus align-middle plus"></i>
                                        <i class="mdi mdi-minus align-middle minus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show" id="collapseExample3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->


        <div class="col-md-12 mt-3 mb-3" id="card-none3">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <h6 class="card-title mb-0">System Data Module <input class="form-check-input" type="checkbox" id="formCheck8" checked></h6>

                        </div>
                        <div class="flex-shrink-0">
                            <ul class="list-inline card-toolbar-menu d-flex align-items-center mb-0">
                                <li class="list-inline-item">
                                    <a class="align-middle" href="javascript:void(0);" data-toggle="customer-loader">
                                        <i class="mdi mdi-refresh align-middle"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="align-middle minimize-card" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample2">
                                        <i class="mdi mdi-plus align-middle plus"></i>
                                        <i class="mdi mdi-minus align-middle minus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show" id="collapseExample3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->


        <div class="col-md-12 mt-3 mb-3" id="card-none3">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <h6 class="card-title mb-0">System Data Module <input class="form-check-input" type="checkbox" id="formCheck8" checked></h6>

                        </div>
                        <div class="flex-shrink-0">
                            <ul class="list-inline card-toolbar-menu d-flex align-items-center mb-0">
                                <li class="list-inline-item">
                                    <a class="align-middle" href="javascript:void(0);" data-toggle="customer-loader">
                                        <i class="mdi mdi-refresh align-middle"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="align-middle minimize-card" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample2">
                                        <i class="mdi mdi-plus align-middle plus"></i>
                                        <i class="mdi mdi-minus align-middle minus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show" id="collapseExample3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->


        <div class="col-md-12 mt-3 mb-3" id="card-none3">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <h6 class="card-title mb-0">System Data Module <input class="form-check-input" type="checkbox" id="formCheck8" checked></h6>

                        </div>
                        <div class="flex-shrink-0">
                            <ul class="list-inline card-toolbar-menu d-flex align-items-center mb-0">
                                <li class="list-inline-item">
                                    <a class="align-middle" href="javascript:void(0);" data-toggle="customer-loader">
                                        <i class="mdi mdi-refresh align-middle"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="align-middle minimize-card" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample2">
                                        <i class="mdi mdi-plus align-middle plus"></i>
                                        <i class="mdi mdi-minus align-middle minus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show" id="collapseExample3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-check-success mb-3">
                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                <label class="form-check-label" for="formCheck8">
                                    HMS_SD_DEPARTMENTS
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->

    </div>

    <div class="d-flex align-items-start gap-3 mt-4">
        <button type="button" class="btn btn-light btn-label previestab" data-previous="steparrow-gen-info-tab"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Back to General</button>
        <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-experience-tab"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Submit</button>
    </div>
</div>