<div class="tab-pane fade" id="steparrow-gen-info" role="tabpanel" aria-labelledby="steparrow-gen-info-tab">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                    <label class="form-label" for="steparrow-gen-info-email-input">Branch Name</label>
                    <input type="email" class="form-control" id="steparrow-gen-info-email-input" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                    <label class="form-label" for="steparrow-gen-info-email-input">Branch Location</label>
                    <textarea class="form-control" name="address" required></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label" for="steparrow-gen-info-email-input">Contact No</label>
                    <input type="text" class="form-control" name="contact_no" required>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label" for="steparrow-gen-info-email-input">Email</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label" for="steparrow-gen-info-email-input">Select Branch Manager</label>
                    <select class="form-control" name="branch_manager_id">
                        <option selected disabled>Select Branch Manager</option>
                        <option value="1">Nazib Mahfuz</option>
                        <option value="2">Hasib Ahmed</option>
                        <option value="3">Tushar Khan</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label" for="steparrow-gen-info-email-input">Emergency Contact No</label>
                    <input type="text" class="form-control" name="emergency_contact_no" required>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start gap-3 mt-4">
        <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="steparrow-description-info-tab"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Go to more info</button>
    </div>
</div>