@{
    ViewData["Title"] = "Add New Doctor";
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col">

                    <div class="h-100">

                        <div class="row">
                        <div class="col-xl-12">
                            <div class="card">

                                <div class="card-header">
                                    <h4 class="card-title mb-0">Add New Doctor</h4>
                                    <span class="badge badge-gradient-danger">Please Provide All The Necessary Information About a Doctor.</span>
                                </div><!-- end card header -->

                                <div class="card-body form-steps">
                                    <form class="vertical-navs-step">
                                        <div class="row gy-5">
                                            <div class="col-lg-3">
                                                <div class="nav flex-column custom-nav nav-pills" role="tablist" aria-orientation="vertical">
                                                    <button class="nav-link done" id="v-pills-general-info-tab" data-bs-toggle="pill" data-bs-target="#v-pills-general-info" type="button" role="tab" aria-controls="v-pills-general-info" aria-selected="true">
                                                        General Info
                                                    </button>
                                                    <button class="nav-link active" id="v-pills-bmdc-info-tab" data-bs-toggle="pill" data-bs-target="#v-pills-bmdc-info" type="button" role="tab" aria-controls="v-pills-bmdc-info" aria-selected="false">
                                                        BM&DC Info
                                                    </button>
                                                    <button class="nav-link" id="v-pills-fee-info-tab" data-bs-toggle="pill" data-bs-target="#v-pills-fee-info" type="button" role="tab" aria-controls="v-pills-fee-info" aria-selected="false">
                                                        Fee Info
                                                    </button>
                                                        <button class="nav-link" id="v-pills-time-schedule-info-tab" data-bs-toggle="pill" data-bs-target="#v-pills-time-schedule-info" type="button" role="tab" aria-controls="v-pills-time-schedule-info" aria-selected="false">
                                                        Time Schedule 
                                                    </button>
                                                    <button class="nav-link" id="v-pills-finish-tab" data-bs-toggle="pill" data-bs-target="#v-pills-finish" type="button" role="tab" aria-controls="v-pills-finish" aria-selected="false">
                                                        <span class="step-title me-2">
                                                            <i class="ri-close-circle-fill step-icon me-2"></i> Step 4
                                                        </span>
                                                        Finish
                                                    </button>
                                                </div>
                                                <!-- end nav -->
                                            </div> <!-- end col-->
                                            <div class="col-lg-9">
                                                <div class="px-lg-4">
                                                    <div class="tab-content">

                                                        <!-- General Info Start -->
                                                            <div class="tab-pane fade show active" id="v-pills-general-info" role="tabpanel" aria-labelledby="v-pills-general-info-tab">
                                                            <div>
                                                                <h5>General Information</h5>
                                                            </div>

                                                            <div>
                                                                <div class="row g-3">
                                                                    <div class="col-sm-6">
                                                                        <label for="firstName" class="form-label">First Name <span class="text-danger">*</span> </label>
                                                                        <input type="text" class="form-control" id="firstName" value="" required >
                                                                        <div class="invalid-feedback">Please enter a first name</div>
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <label for="lastName" class="form-label">Last Name</label>
                                                                        <input type="text" class="form-control" id="lastName" value="" required >
                                                                        <div class="invalid-feedback">Please enter a last name</div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <label for="email" class="form-label">Email <span class="text-muted text-danger">(*)</span></label>
                                                                        <input type="email" class="form-control" id="email" />
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <label for="email" class="form-label">Contact No <span class="text-muted text-danger">(*)</span></label>
                                                                        <input type="email" class="form-control" id="email"  />
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <label for="email" class="form-label">Blood Group <span class="text-muted text-danger">(*)</span></label>
                                                                        <select class="form-control" name="bloodGroup">
                                                                            <option selected disabled></option>
                                                                            <option value="A+">A+</option>
                                                                            <option value="A+">A-</option>
                                                                            <option value="A+">B+</option>
                                                                            <option value="A+">B-</option>
                                                                            <option value="A+">AB+</option>
                                                                            <option value="A+">AB-</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <label for="email" class="form-label">Sex <span class="text-muted text-danger">(*)</span></label>
                                                                        <select class="form-control" name="sex">
                                                                            <option selected disabled></option>
                                                                            <option value="Male">Male</option>
                                                                            <option value="Female">Female</option>
                                                                            <option value="Other">Other</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <label for="username" class="form-label">Username</label>
                                                                        <input type="text" class="form-control" id="username" required >
                                                                        <div class="invalid-feedback">Please enter a user name</div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <label for="email" class="form-label">Password</label>
                                                                        <input type="email" class="form-control" id="email" />
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <label for="lastName" class="form-label">Present Address</label>
                                                                        <textarea class="form-control" name="presentAddress"></textarea>
                                                                        <div class="invalid-feedback">Please enter a last name</div>
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <label for="lastName" class="form-label">Permanent Address</label>
                                                                            <textarea class="form-control" name="presentAddress"></textarea>
                                                                        <div class="invalid-feedback">Please enter a last name</div>
                                                                    </div>

                                                                    
                                                                </div>
                                                            </div>

                                                            <div class="d-flex align-items-start gap-3 mt-4">
                                                                <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="v-pills-bmdc-info-tab"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Go to BMDC Info</button>
                                                            </div>
                                                        </div>
                                                        <!-- General Info End -->

                                                        <!-- BM&DC Info Start -->
                                                        <div class="tab-pane fade" id="v-pills-bmdc-info" role="tabpanel" aria-labelledby="v-pills-bmdc-info-tab">
                                                            <div>
                                                                <h5>BM & DC Information</h5>
                                                            </div>

                                                            <div>
                                                                <div class="row g-3">
                                                                    <div class="col-6">
                                                                        <label for="address" class="form-label">BMDC Registration No</label>
                                                                        <input type="text" class="form-control" id="address" placeholder="" required >
                                                                        <div class="invalid-feedback">Please enter a address</div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <label for="address2" class="form-label">Passing Year <span class="text-muted">(Optional)</span></label>
                                                                        <input type="text" class="form-control" id="address2" placeholder="" />
                                                                    </div>

                                                                    <div class="col-md-6">
                                                                        <label for="country" class="form-label">Department</label>
                                                                        <select class="form-select" id="country" required>
                                                                            <option value="">Choose...</option>
                                                                            <option>Medicine</option>
                                                                            <option>Authropedix</option>
                                                                            <option>Gynee</option>
                                                                        </select>
                                                                        <div class="invalid-feedback">Please select a country</div>
                                                                    </div>

                                                                    <div class="col-md-6">
                                                                        <label for="state" class="form-label">Desingation</label>
                                                                        <select class="form-select" id="state">
                                                                            <option value="">Choose...</option>
                                                                            <option>Professor</option>
                                                                        </select>
                                                                        <div class="invalid-feedback">Please select a state</div>
                                                                    </div>

                                                                    <div class="col-md-12">
                                                                        <label for="zip" class="form-label">Educational Qualification</label>
                                                                        <textarea class="form-control"></textarea>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="d-flex align-items-start gap-3 mt-4">
                                                                <button type="button" class="btn btn-light btn-label previestab" data-previous="v-pills-general-info-tab"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Back to General Info</button>
                                                                <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="v-pills-fee-info-tab"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Go to Fee Info</button>
                                                            </div>
                                                        </div>
                                                        <!-- BM&DC Info End -->

                                                        <!-- Fee Info Start -->
                                                        <div class="tab-pane fade" id="v-pills-fee-info" role="tabpanel" aria-labelledby="v-pills-fee-info-tab">
                                                            <div>
                                                                <h5>Fee Information</h5>
                                                            </div>

                                                            <div>
                                                                <div class="row gy-3">
                                                                    <div class="col-md-6">
                                                                        <label for="cc-name" class="form-label">New Patient Fee</label>
                                                                        <input type="number" class="form-control" id="cc-name" placeholder="" required>
                                                                        <div class="invalid-feedback">
                                                                            Name on card is required
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6">
                                                                        <label for="cc-number" class="form-label">Old Patient Fee</label>
                                                                        <input type="number" class="form-control" placeholder="" required>
                                                                        <div class="invalid-feedback">
                                                                            Credit card number is required
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="d-flex align-items-start gap-3 mt-4">
                                                                <button type="button" class="btn btn-light btn-label previestab" data-previous="v-pills-bmdc-info-tab"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Back to BMDC Info</button>
                                                                <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="v-pills-finish-tab"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i> Go To Time Schedule</button>
                                                            </div>
                                                        </div>
                                                        <!-- Fee Info End -->

                                                        <!-- Room & Time Schedule Info Start -->
                                                            <div class="tab-pane fade" id="v-pills-time-schedule-info" role="tabpanel" aria-labelledby="v-pills-time-schedule-info-tab">
                                                            <div>
                                                                <h5>Room & Time Schedule</h5>
                                                            </div>

                                                            <div>
                                                                <div class="row gy-3">

                                                                    <div class="col-md-6">
                                                                        <label for="cc-name" class="form-label">Select Shift</label>
                                                                        <select class="form-control" name="shift_id">
                                                                            <option selected disabled>Choose Shift...</option>
                                                                            <option value="1011">All Day</option>
                                                                            <option value="1011">Morning Shift</option>
                                                                            <option value="1011">Evening Shift</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="col-md-6">
                                                                        <label for="cc-name" class="form-label">Select Room Number</label>
                                                                        <select class="form-control" name="rood_id">
                                                                            <option selected disabled>Choose Room No...</option>
                                                                            <option value="1011">1011</option>
                                                                            <option value="1011">1012</option>
                                                                            <option value="1011">2045</option>
                                                                            <option value="1011">2036</option>
                                                                            <option value="1011">5896</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="col-md-4">
                                                                        <label class="form-label">Start Time</label>
                                                                        <input type="text" class="form-control flatpickr-input" data-provider="timepickr" data-time-inline="11:42" readonly="readonly">
                                                                        <div class="flatpickr-calendar hasTime noCalendar animate inline" tabindex="-1">
                                                                        <div class="flatpickr-time" tabindex="-1"><div class="numInputWrapper">
                                                                            <input class="numInput flatpickr-hour" type="number" aria-label="Hour" tabindex="-1" step="1" min="1" max="12" maxlength="2">
                                                                            <span class="arrowUp"></span><span class="arrowDown"></span></div><span class="flatpickr-time-separator">:</span>
                                                                            <div class="numInputWrapper"><input class="numInput flatpickr-minute" type="number" aria-label="Minute" tabindex="-1" step="5" min="0" max="59" maxlength="2"><span class="arrowUp"></span><span class="arrowDown"></span></div><span class="flatpickr-am-pm" title="Click to toggle" tabindex="-1">AM</span></div></div>
                                                                    </div>

                                                                    <div class="col-md-4">
                                                                        <label class="form-label">End Time</label>
                                                                            <input type="text" class="form-control flatpickr-input" data-provider="timepickr" data-time-inline="11:42" readonly="readonly">
                                                                            <div class="flatpickr-calendar hasTime noCalendar animate inline" tabindex="-1">
                                                                                <div class="flatpickr-time" tabindex="-1">
                                                                                    <div class="numInputWrapper">
                                                                                        <input class="numInput flatpickr-hour" type="number" aria-label="Hour" tabindex="-1" step="1" min="1" max="12" maxlength="2">
                                                                                        <span class="arrowUp"></span><span class="arrowDown"></span>
                                                                                    </div><span class="flatpickr-time-separator">:</span>
                                                                                    <div class="numInputWrapper"><input class="numInput flatpickr-minute" type="number" aria-label="Minute" tabindex="-1" step="5" min="0" max="59" maxlength="2"><span class="arrowUp"></span><span class="arrowDown"></span></div><span class="flatpickr-am-pm" title="Click to toggle" tabindex="-1">AM</span>
                                                                                </div>
                                                                            </div>
                                                                    </div>

                                                                    <div class="col-md-4">
                                                                        <label for="cc-expiration" class="form-label">Per Patient Allocation <span class="badge badge-gradient-success">(Minute)</span> </label>
                                                                        <input type="number" class="form-control" id="cc-expiration" placeholder="" required>
                                                                        <div class="invalid-feedback">
                                                                            Expiration date required
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-12">
                                                                        <center>
                                                                            <button type="button" class="btn btn-outline-danger waves-effect waves-light">Generate Slot</button>
                                                                        </center>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="d-flex align-items-start gap-3 mt-4">
                                                                <button type="button" class="btn btn-light btn-label previestab" data-previous="v-pills-bmdc-info-tab"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Back to Shipping Info</button>
                                                                <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="v-pills-finish-tab"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i> Order Complete</button>
                                                            </div>
                                                        </div>
                                                        <!-- Room & Time Schedule Info End -->

                                                        <!-- Finish Tab Start -->
                                                        <div class="tab-pane fade" id="v-pills-finish" role="tabpanel" aria-labelledby="v-pills-finish-tab">
                                                            <div class="text-center pt-4 pb-2">

                                                                <div class="mb-4">
                                                                    <lord-icon src="https://cdn.lordicon.com/lupuorrc.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:120px;height:120px"></lord-icon>
                                                                </div>
                                                                <h5>Your Order is Completed !</h5>
                                                                <p class="text-muted">You Will receive an order confirmation email with details of your order.</p>
                                                            </div>
                                                        </div>
                                                        <!-- Finish Tab End -->

                                                    </div>
                                                    <!-- end tab content -->
                                                </div>
                                            </div>
                                            <!-- end col -->

                                        </div>
                                        <!-- end row -->
                                    </form>
                                </div>
                            </div>
                            <!-- end -->
                        </div>
                        <!-- end col -->
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/pages/form-pickers.init.js"></script>
